.body{
    font-family: 'Times New Roman', Times, georgia, serif;
    background-color: #f4f6f9;
    margin: 20px;
    font-style: italic;
    font-weight: bold;
    color: rgb(119, 2, 155);
}

.header-container {
    width: 40%;
    border: 4px solid blue;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto 30px auto;
    color: rgb(152, 4, 194);
    font-style: italic;
}

.middle-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content : space-between;
    row-gap: 40px;
    border: 4px solid blue;
    grid-gap: 40px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f0f0f5;
    color: rgb(43, 0, 65);
    min-height: 150px;
    box-sizing: border-box;
}
.box1{
    background-color:#ffffff;
    min-height: 150px;
    padding: 15px;
    box-sizing: border-box;
    border: 4px solid red;
    border-radius: 10px;
    color: rgb(43, 0, 65)
}
   
.box2{
    border: 4px solid red;
    border-radius: 10px;
}

.box3{
    border: 4px solid red;
    border-radius: 10px;
    color:rgb(43, 0, 65);
    background-color:#ffffff;
}

.box4{
    color:red;
    border: 4px solid red;
    border-radius: 10px;
    background-color:#ffffff;
    text-align:center;

}
.store-section {
    color: red;
    border: 7px solid rgb(0, 110, 83);
    text-align: center;
    padding: 20px;
    background-color: #7cdb41;

}

.product-columns {
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;

}

.column {
    flex: 1;
    border: 1px solid green;
    padding: 15px;
    background-color: #ffff00;
    color: black;
}

.other-items-box{
    
    background-color: #ffff00;
    padding: 20px;
    border: 1px solid green;
    color: black;
}

.text-left{ text-align: left; color: purple; }
.text-center{ text-align: center; }

.rounded-input {
    border: 2px solid purple;
    border-radius: 15px;
    padding: 5px;
    width: 60%;
}

.submit-btn {
    background: #e0e0e0;
    border: 2px solid purple;
    padding: 4px 100px;
    border-radius: 10px;
    cursor: pointer;
}